body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.pinkLogo {
  height: 2rem;
  padding: 20px;
  margin: 10px;
}

.welcome {
  text-align: left;
}

.avatar-placeholder {
  border: 4px dashed #dadada;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #9e9fa6;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  height: 0.75rem;
  filter: invert(70%);
  margin: 0 5px 0 0;
}

.welcome h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

.welcome p {
  color: #939199;
  font-size: 0.9rem;
}

.avatar-container {
  display: flex;
}

.arrow-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 0 0 50px;
}

.arrow-section button {
  background-color: white;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  margin: 0 0 15px 0;
}

.h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

.avatar-section {
  margin: 50px 0 60px 0;
}

.location-section h2 {
  margin-bottom: 30px;
}

.location-section input {
  border-bottom: 2px solid #e7e7e7;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 40rem;
  padding: 7px 0 7px 0;
  font-size: 0.95rem;
  margin: 0 0 50px 0;
}

.next-btn {
  background-color: #ea4b8b;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 12rem;
  height: 2.2rem;
  border-radius: 10px;
  font-weight: bolder;
  color: #f3f3f3;
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
  .welcome h1 {
    font-size: 1.8rem;
  }

  .welcome p {
    font-size: 0.8rem;
  }
  
  body{
    margin: 20px;
  }

  .avatar-placeholder {
    height: 6rem;
    width: 6rem;
    font-size: 1rem;
  }

  .container {
    flex-direction: column;
  }

  .arrow-section {
    margin: 20px 0 0 0;
    align-items: center;
  }

  .h2 {
    font-size: 1.1rem;
    text-align: left;
  }

  .location-section input {
    width: 90%;
  }
}

/* Styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .welcome h1 {
    font-size: 2rem;
  }

  .welcome p {
    font-size: 0.85rem;
  }

  .avatar-placeholder {
    height: 7rem;
    width: 7rem;
    font-size: 1.1rem;
  }

  .arrow-section {
    margin: 0 0 0 30px;
  }

  .h2 {
    font-size: 1.2rem;
  }

  .location-section input {
    width: 30rem;
  }
}
