<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dribbble</title>
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        
        <ul class="nav-menu">
          <li><div class="logo">
            <a href="#"><img src="/images/logo.png" alt="logo"></a>
          </div></li>
          <li><a href="#">Inspiration</a></li>
          <li><a href="#">Find Work</a></li>
          <li><a href="#">Learn Design</a></li>
          <li><a href="#">Go Pro</a></li>
          <li><a href="#">Hire Designers</a></li>
        </ul>
        
        <div class="profile-icons">
          <div class="search-box">
            <input type="text" placeholder="Search" />
          </div>
          <a href="#"><img src="/images/profile.jpg" alt="Profile" /></a>
          <a href="#"><button class="upload-btn">Upload</button></a>
        </div>
      </nav>
    </header>

    <div class="main">
      <div>
        <h2>Please verify your email...</h2>
        <img src="/images/message.png" alt="Checkmark Icon" />
        <p class="para">
          Please verify your email address. We've sent a confirmation email to:
        </p>
        <p class="para"><strong>account@refero.design</strong></p>
        <p class="para">
          Click the confirmation link in that email to begin using Dribbble.
        </p>
        <p class="para">
          Didn't receive the email? Check your Spam folder, it may have been
          caught by a filter. If you still don't see it, you can
          <a href="#">resend the confirmation email</a>.
        </p>
        <p class="para">Wrong email address? <a href="#">Change it</a>.</p>
      </div>
    </div>

    <div class="fSec">
      <footer>
        <div class="footer-sections">
          <div class="logoSec">
            <img class="pink" src="/images/pink_Logo.png" alt="pink logo" />
            <p class="text">
              Dribbble is the world's leading community for creatives to share,
              grow, and get hired.
            </p>
            <div class="social-links">
              <a href="#"
                ><img
                  class="social-icon"
                  src="/images/ball.png"
                  alt="ball logo"
              /></a>
              <a href="#"
                ><img
                  class="social-icon"
                  src="/images/twitter.png"
                  alt="twitter logo"
              /></a>
              <a href="#"
                ><img
                  class="social-icon"
                  src="/images/facebook.png"
                  alt="facebook logo"
              /></a>
              <a href="#"
                ><img
                  class="social-icon"
                  src="/images/insta.png"
                  alt="insta logo"
              /></a>
              <a href="#"
                ><img
                  class="social-icon"
                  src="/images/pintrest.png"
                  alt="pinterest logo"
              /></a>
            </div>
          </div>

          <div class="section">
            <h4>For designers</h4>
            <ul>
              <li><a href="#">Go Pro!</a></li>
              <li><a href="#">Explore design work</a></li>
              <li><a href="#">Design blog</a></li>
              <li><a href="#">Overtime podcast</a></li>
              <li><a href="#">Playoffs</a></li>
              <li><a href="#">Weekly Warm-Up</a></li>
              <li><a href="#">Refer a Friend</a></li>
              <li><a href="#">Code of conduct</a></li>
            </ul>
          </div>

          <div class="column">
            <div class="section hire">
              <h4>Hire designers</h4>
              <ul>
                <li><a href="#">Post a job opening</a></li>
                <li><a href="#">Post a freelance project</a></li>
                <li><a href="#">Search for designers</a></li>
              </ul>
            </div>

            <div class="section">
              <h4>Brands</h4>
              <ul>
                <li><a href="#">Advertise with us</a></li>
              </ul>
            </div>
          </div>

          <div class="section">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Media kit</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Cookie policy</a></li>
            </ul>
          </div>

          <div class="column">
            <div class="section">
              <h4>Directories</h4>
              <ul>
                <li><a href="#">Design jobs</a></li>
                <li><a href="#">Designers for hire</a></li>
                <li><a href="#">Freelance designers for hire</a></li>
                <li><a href="#">Tags</a></li>
                <li><a href="#">Places</a></li>
              </ul>
            </div>

            <div class="section">
              <h4>Design assets</h4>
              <ul>
                <li><a href="#">Dribbble Marketplace</a></li>
                <li><a href="#">Creative Market</a></li>
                <li><a href="#">Fontspring</a></li>
                <li><a href="#">Font Squirrel</a></li>
              </ul>
            </div>
          </div>

          <div class="section">
            <h4>Design Resources</h4>
            <ul>
              <li><a href="#">Freelancing</a></li>
              <li><a href="#">Design Hiring</a></li>
              <li><a href="#">Design Portfolio</a></li>
              <li><a href="#">Design Education</a></li>
              <li><a href="#">Creative Process</a></li>
              <li><a href="#">Design Industry Trends</a></li>
            </ul>
          </div>
        </div>
      </footer>

      <hr />

      <div class="cc">
        <p class="copy font">©️ 2024 Dribbble. All rights reserved.</p>
        <div class="ball">
          <% const random = (Math.floor(Math.random()*100000)); const num =
          (20000000 + random); %>
          <p class="number margin bold"><%= num %></p>
          <p class="margin font">shots dribbbled</p>
          <img
            class="margin"
            src="/images/pink_ball.png"
            alt="pink ball logo"
          />
        </div>
      </div>
    </div>
  </body>
</html>
