<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dribbble</title>
    <link rel="stylesheet" href="/style/option.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logo-sec">
      <img
        src="/images/pink_Logo.png"
        alt="pink logo of dribbble"
        class="pinkLogo"
      />
      <button type="button"><img src="/images/left arrow.svg" alt="" /></button>
    </div>

    <div class="main-sec">
      <h1>What brings you to Dribbble?</h1>
      <p>
        Select the options that best describe you. Don't worry, you can explore
        other options later.
      </p>
      <div class="cards">
        <div class="card1 border">
          <img src="/images/image_1.png" id="cardImage1" alt="png" />
          <h2 id="head">I'm a designer looking to share my work</h2>
          <div class="description" id="text1">
            With over 7 million shots from a vast community of designers,
            Dribbble is the leading source for design inspiration.
          </div>
          <label class="container">
            <input type="checkbox" id="myCheck1" />
            <span class="checkmark" id="span1"></span>
          </label>
        </div>
        <div class="card2 border">
          <img src="/images/image_2.png" id="cardImage2" alt="png" />
          <h2 id="head">I'm looking to hire a designer</h2>
          <div class="description" id="text2">
            With over 7 million shots from a vast community of designers,
            Dribbble is the leading source for design inspiration.
          </div>
          <label class="container">
            <input type="checkbox" id="myCheck2" />
            <span class="checkmark" id="span2"></span>
          </label>
        </div>
        <div class="card3 border">
          <img src="/images/image_3.png" id="cardImage3" alt="png" />
          <h2 id="head">I'm looking for design inspiration</h2>
          <div class="description" id="text3">
            With over 7 million shots from a vast community of designers,
            Dribbble is the leading source for design inspiration.
          </div>
          <label class="container">
            <input type="checkbox" id="myCheck3"/>
            <span class="checkmark" id="span3"></span>
          </label>
        </div>
      </div>
      <a href="/home"><button type="button" class="next-btn">Finish</button></a>
    </div>
    <script src="/scripts/text.js"></script>
  </body>
</html>
