<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dribbble Profile</title>
    <link rel="stylesheet" href="/style/profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <img
      src="/images/pink_Logo.png"
      alt="pink logo of dribbble"
      class="pinkLogo"
    />
    <div class="container">
      <div class="welcome">
        <h1>Welcome! Let's create your profile</h1>
        <p>Let others get to know you better! You can do these later</p>

        <div class="avatar-section">
          <h2 class="h2">Add an avatar</h2>
          <div class="avatar-container">
            <div class="avatar-placeholder">
              <i class="fa fa-camera"><a href="/"></a></i>
            </div>
            <div class="arrow-section">
              <button type="button">Choose image</button>
            <p>
              <img src="/images/arrow.svg" alt="arrow" class="arrow" />Or choose
              one of our defaults
            </p>
            </div>   
          </div>
        </div>

        <div class="location-section">
          <h2 class="h2">Add your location</h2>
          <input type="text" placeholder="Enter a location" />
        </div>

        <a href="/options"><button class="next-btn">Next</button></a>
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
